<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892924748159-ia3gaefuqnee2ti7inepl4p0sk3rjs3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892924748159-ia3gaefuqnee2ti7inepl4p0sk3rjs3n</string>
	<key>API_KEY</key>
	<string>AIzaSyBQId89CnB6cY4g-_0erlVPfm6QCU-hb7I</string>
	<key>GCM_SENDER_ID</key>
	<string>892924748159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diary</string>
	<key>PROJECT_ID</key>
	<string>diary-22d35</string>
	<key>STORAGE_BUCKET</key>
	<string>diary-22d35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892924748159:ios:718fe57e351def215d7a4a</string>
</dict>
</plist>